@font-face {
    font-family: "myFont";
    src: url("/Alkalami/Alkalami-Regular.ttf");
}

body {
    /* added background color and comment */
    background-color: bisque;
}

h1 {
    font-family: "myFont";
    border-style: dashed;
    border-radius: 1cm;
    border-color: aqua;
    border-width: 10px;
    color: #2E4053;
}

h2 {
    position: relative;
    top: 100px;
    color: rgb(52, 152, 219);
    text-decoration: underline red;
    text-align: center;
}

h3 {
    position: absolute;
    top: 100px;
    color: red;
}

h4 {
    display: inline;
    color: hsl(79, 100%, 30%)
}

.iCanChangeThisLater {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 800px;
    height: 20cm;
    font-size: 0.5in;
    color: blueviolet
}

.Class2 {
    display: grid;
    padding: 10px;
    background-color: red;
    padding: 10px;
    grid-template-rows: min-content;
    grid-template-columns: 150px 150px 150px 150px;
    height: 500px;
}

.item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.item2 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-row: 2;
}

.item1 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    grid-area: footer;
    grid-column: 1/4;
}

.embededIndiv {
    font-size: em;
    width: 100vw;
    height: 10vh;
}

ol {
    padding-top: 1cm;
    padding-left: 100px;
    margin: auto;
}

ul {
    display: inline-block;
    margin: 1cm, 0, 1cm, 0;
    padding: 25px 50px 25px 50px;
}

li {
    height: auto;
    max-width: max-content;
    max-height: max-content;
    width: 200px;
    border-style: dashed;
    border-radius: 1cm;
    border-width: 0.01cm;
}

p {
    font-family: "myFont";
    margin-top: 1cm;
    margin-bottom: 1cm;
}

a:link {
    color: red;
}

a:hover {
    color: green;
}

a:active {
    color: blue;
}

@media only screen and (orientation: landscape) {
    body {
        background-color: lightblue;
    }
}