body {
    /* added background color and comment */
    background-color: bisque;
}

h1 {
    border-style: dashed;
    border-radius: 1cm;
    border-color: aqua;
    border-width: 10px;
    color: #2E4053;
}

h2 {
    color: rgb(52, 152, 219);
    text-decoration: underline red;
    text-align: center;
}

h3 {
    color: red;
}

h4 {
    display: inline;
    color: hsl(79, 100%, 30%)
}

.iCanChangeThisLater {
    width: 800px;
    height: 30cm;
    font-size: 0.5in;
    color: blueviolet
}

.embededIndiv {
    font-size: em;
    width: 100vw;
    height: 10vh;
}

ol {
    padding-top: 1cm;
    padding-left: 100px;
    margin: auto;
}

ul {
    display: inline-block;
    margin: 1cm, 0, 1cm, 0;
    padding: 25px 50px 25px 50px;
}

li {
    height: auto;
    max-width: max-content;
    max-height: max-content;
    width: 200px;
    border-style: dashed;
    border-radius: 1cm;
    border-width: 0.01cm;
}

p {
    margin-top: 1cm;
    margin-bottom: 1cm;
}